<div class="container">
  <h3 class="text-center">Edit Booking</h3>
  <div class="form-container">
    <%= simple_form_for ([@plant, @booking]) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Update", class: "btn btn-primary btn-new" %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
