<div class="container">
  <h1 class="text-center pt-5">Booking for <%= @plant.title %></h1>

  <div class="form-container">
    <%= simple_form_for ([@plant, @booking]) do |f| %>
      <%= f.input :start_date, id: "start-date" %>
      <%= f.input :end_date, id: "end_date" %>
      <%= f.submit "Book", class: "btn btn-primary btn-new" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
