<div class="container">
  <h1 class="text-center pt-5 pb-3">My Bookings</h1>

  <h3 class="pb-3">Current Bookings</h3>

  <div class="table-responsive">
    <% if @bookings.length == 0 %>
      <p>No Bookings Yet!</p>
    <% else %>
    <table class="table table-bordered">
      <thead>
        <tr class="table-light">
          <th scope="col">Plant</th>
          <th scope="col">Owner</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Cancel</th>
          <th scope="col">Status</th>
          <th scope="col">Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
        <tr>
          <td scope="row"><%=link_to booking.plant.title, plant_path(booking.plant) %></td>
          <td><%= booking.plant.user.email %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= link_to "Edit", edit_booking_path(booking) %> </td>
          <td><%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure? "} %> </td>
          <td><%= booking.status %></td>
          <td><%= number_to_currency(booking.booking_total) %></td>
        </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
  </div>

  <h3 class="pb-3 pt-3">Past Bookings</h3>

  <div class="table-responsive">
    <% if @past_bookings.length == 0 %>
      <p>No Past Bookings Yet!</p>
    <% else %>
    <table class="table table-bordered">
      <thead>
        <tr class="table-light">
          <th scope="col">Plant</th>
          <th scope="col">Owner</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Total Cost</th>
        </tr>
      </thead>
      <% @past_bookings.each do |b| %>
      <tbody>
        <tr>
          <td scope="row"><%=link_to b.plant.title, plant_path(b.plant) %></td>
          <td><%= b.plant.user.email %></td>
          <td><%= b.start_date %></td>
          <td><%= b.end_date %></td>
          <td><%= number_to_currency(b.booking_total) %></td>
        </tr>
        <%end %>
      </tbody>
      <% end %>
    </table>
  </div>

</div>
<%= render 'shared/footer' %>
