<div class="container">
<h1 class="text-center">Dashboard <%= current_user.email %></h1>


    <h3>Your Plants</h3>
    <hr>
    <% if @plants.length == 0 %>
      <p>No Plants Yet!</p>
    <% end %>
    <div class="cards">
      <% @plants.each do |plant| %>
        <div class="card">
          <h4 class="text-center"><%= plant.title %></h4>
          <% if plant.photo.key != nil %>
          <%= cl_image_tag plant.photo.key, class: "card-img" %>
          <%end %>
          <p><strong>Category:</strong> <%= plant.category %></p>
          <p><strong>Price:</strong> $<%= plant.price_per_day %> per/day</p>
          <%= link_to "Edit", edit_plant_path(plant), class: "btn btn-primary btn-dashboard" %>
          <%= link_to "Delete", plant_path(plant), method: :delete, data: { confirm: "Are you sure? "}, class: "btn btn-danger btn-dashboard" %>
        </div>
      <%end %>
    </div>

    <h3 class="pt-4">Your Bookings</h3>
    <hr>

    <div class="table-responsive">
      <% if @bookings.length == 0 %>
         <p>No Bookings yet!</p>
      <% else %>
    <table class="table table-bordered">
    <thead>
      <tr class="table-primary">
        <th scope="col">Plant</th>
        <th scope="col">Plant Owner</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
      </thead>
      <% @bookings.each do |booking| %>
      <tbody>
      <tr>
        <td scope="row"><%=link_to booking.plant.title, plant_path(booking.plant) %></td>
        <td><%= booking.plant.user.email %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <%if current_user.id != booking.plant.user.id %>
        <td><%= link_to "Edit Booking", edit_booking_path(booking) %></td>
        <td><%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure? "} %></td>
        <%end %>
        <td><%= booking.status %></td>
        <% if booking.status == "Pending" && current_user.email != booking.plant.user.email  %>
          <td><%= link_to "Accept Booking", approve_booking_path(booking) %></td>
          <td><%= link_to "Decline Booking", decline_booking_path(booking) %></td>
        <%end %>
      </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>
    </div>

    <h3>Booking Requests</h3>
    <hr>











</div>
