
<div class="container">

<h1 class="text-center mb-3">Browse Plants </h1>

<div class="cards">
  <% @plants.each do |plant| %>
    <div class="card">
      <h4 class="text-center"><%= plant.title %></h4>
      <%= cl_image_tag plant.photo.key, class: "card-img" %>
      <p><strong>Category:</strong> <%= plant.category %></p>
      <p><strong>Price:</strong> $<%= plant.price_per_day %> per/day</p>
      <%= link_to "View", plant_path(plant), class: "btn btn-primary btn-index" %>
    </div>
  <% end %>
</div>



</div>
