<div class="container">
  <div class="form-search">
    <%= form_tag plants_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Find the perfect plant", class: "form-input" %>
    <%= submit_tag "Search", :title => nil, class: "form-btn" %>
    <% end %>
  </div>
  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card">
        <% if plant.photo.key == nil %>
          <p>No Photo Available</p>
        <%else %>
          <%= cl_image_tag plant.photo.key, class: "card-img" %>
        <%end %>
        <h5><%= plant.title %></h5>
        <p> <%= plant.category %></p>
        <p>$<%= plant.price_per_day %> per day</p>
        <%= link_to "View", plant_path(plant), class: "btn btn-primary btn-index" %>
      </div>
      <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
