<div class="container">
  <%= link_to "Add new plant", new_plant_path, class: "btn-right" %>
  <h1 class="text-center pt-5">My Plants</h1>
  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card">
        <h4 class="text-center"><%= plant.title %></h4>
        <% if plant.photo.key == nil %>
          <p>No Photo Available</p>
        <%else %>
          <%= cl_image_tag plant.photo.key, class: "card-img" %>
        <%end %>
        <p><%= plant.category %></p>
        <p><%= plant.description %></p>
        <p></span>$<%=plant.price_per_day %> per/day</p>
        <div class="btn-flex">
          <div>
            <%= link_to "Edit", edit_plant_path(plant), class: "btn-edit btn btn-primary" %>
          </div>
          <div>
            <%= link_to "Delete", plant_path(plant), class: "btn-delete btn btn-danger", method: :delete, data: { confirm: "Are you sure? "}%>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
<%= render 'shared/footer' %>
